<!doctype>
<html>
    <head>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <!-- OC CSS -->
        <link rel="stylesheet" href="css/app.css">
        <title>Bid - Simple bidding sessions</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 id="homeheader" class="text-center">Bid</h1>
                    <h3 id="promotext" class="text-center"><b>Join loads of other people in hosting super simple bidding sessions online.</b></h3>
                    <a class="btn btn-lg btn-block orangebutton" href="/login" role="button">Login</a>
                </div>
            </div>
        </div>
        <!-- SCRIPTS -->
        <!-- jQuery -->
        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <!-- Bootstrap -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <!-- Socket.io -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
        <!-- App specific -->
        <script src="js/socket.js"></script>
    </body>
</html>
