<!doctype>
<html>
    <head>
        <!-- jQuery -->
        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <!-- OC CSS -->
        <link rel="stylesheet" href="css/app.css">
        <title>Bid - Login</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div id="loginpanel" class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">Login</h3>
                        </div>
                        <div class="panel-body">
                            <form>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password" required>
                                </div>
                                <input class="btn btn-lg btn-block orangebutton" type="submit" value="Login">
                                <a class="btn btn-lg btn-block orangebutton" href="/register">Register</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
