body {
    padding-top: 70px;
}

#promotext {
    color: #e67e22;
    margin-bottom: 35px;
}

#homeheader {
    font-size: 30em;
    font-weight: bold;
    color: #d35400;
}

.orangebutton {
    color: #fff;
    background-color: #d35400;
    background-image: none;
}

.orangebutton:hover {
    background-color: #e67e22;
    color: #fff;
}

.orangepanel {
    margin-top: 50px;
}

.panel {
    border-color: #d35400;
}

.orangepanel .panel-heading {
    background-color: #d35400;
    border-color: #d35400;
    color: #fff;
}

.header-link h3 {
    font-size: 5em;
    font-weight: bold;
    color: #d35400;
}

.header-link:hover {
    text-decoration: none;
}

.navbar {
    background-color: #d35400;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    text-decoration: none;
}
