<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default orangepanel">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Your sessions
                    <a href="#" data-toggle="modal" data-target="#addsession-modal"><span class="glyphicon glyphicon-plus-sign"></span></a>
                </h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <tr ng-repeat="session in sessions">
                            <td>{{session.name}}</td><td>{{session.description}}</td>
                        </tr>
                    </table>
                </div> 
            </div>
        </div>
    </div>
</div>


<!-- Form Modal -->
<div class="modal fade" id="addsession-modal" tabindex="-1" role="dialog" aria-labelledby="addsessionlabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="addsessionlabel">Add Session</h4>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control" name="name" ng-model="session.name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label>Description:</label>
                        <input type="text" class="form-control" name="name" ng-model="session.description" placeholder="Description">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="resetForm()" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primaryi orangebutton" data-dismiss="modal" ng-click="addSession()">Save changes</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
