<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default orangepanel">
            <div class="panel-heading">
                <h3 class="panel-title">Actions</h3>
            </div>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item">Link 1</a>
            <a href="#" class="list-group-item">Link 2</a>
        </div>
    </div>
    <div class="col-md-9">
        <h1 class="text-center">{{session.name}}</h1>
    </div>
</div>
